{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row shadow main-box">
            <div class="col-12 bt-5">
                <div class="row mt-5">
                    <div class="offset-2 col-8">
                        <div class="ans-box ">
                            {% if data %}
                            <p onchange="LoaderStop()">
                                {{data}}
                                
                            </p>
                            
                            {% endif %}
                            <div class="loader" id="ld"></div>
                        </div>
                       

                    </div>
                </div>
                <div class="form-box">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                 
                    
                    
                    <div class="row">
                        <div class="offset-3 col-6 ">
                            <input type="text" name="query" class="form-control" placeholder="Enter Your Query" oninput="BtnDisplay()"  />
                        </div>
                        <div class="col-1 "  >
                            <button id="btn" type="submit" value="Submit" class="btn btn-success btnd" onclick="LoaderStart()" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
                                  </svg>
                            </button>

                
                            
                        </div>
                            
                    
                    </div>
                    
                    
                    
                   
                </form>
            </div>
            </div>
        </div>
        
    </div>

    {% endblock %}
    